<ul class="list-group">
    <h1 class="h1-titre list-group-item list-group-item-primary active">
        <i class="fas fa-newspaper"></i> NEWS :
    </h1>
    <li class="list-group-item">
        <h3>Le concours Unity 2D</h3>
        <h6>OBJECTIF : Créez un petit contenu à l’aide des outils 2D de Unity.</h6>
        <p>Cela peut aller de l'art rétro parfait au pixel près, à un extrait de jeu de plate-forme dessiné à la main ou à une mince tranche verticale d'un bagarreur concurrentiel en 2D.</p>
        <p>Tout va bien, tant que c'est 2D.</p>
        <a href="https://connect.unity.com/challenges/2dchallenge" target="_blank" class="btn btn-outline-info">Challenge Unity 2D</a>
    </li>
    <li class="list-group-item">
        <h3>Le développement de Tricky Boys</h3>
        <h6>Le développement de l'application Tricky Boy Android continue son cours.</h6>
        <p>Mise en place du Level 1.5</p>
        <p>Dessin des sprites du Level 2.1 en cours...</p>
        <p>Ajout d'une news suplémentaire.</p>
    </li>

</ul>